<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>List of Receipts</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'category_list' %}">My Categories</a>
                    </li>
                    <li>
                        <a href="{% url 'create_category' %}">Create a Category</a>
                    </li>
                    <li>
                        <a href="{% url 'account_list' %}">My Accounts</a>
                    </li>
                    <li>
                        <a href="{% url 'create_account' %}">Create an Account</a>
                    </li>
                    <li>
                        <a href="{% url "logout" %}">LogOut</a>
                    </li>
                    {% else %}
                    <li>
                        <a href="{% url "login" %}">LogIn</a>
                    </li>
                    <li>
                        <a href="{% url "signup" %}">SignUp</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        {% block content %}
        {% endblock content %}
    </body>
</html>
